# PostgreSQL
POSTGRES_USER=tender_user
POSTGRES_PASSWORD=CHANGE_ME_TO_SECURE_PASSWORD
POSTGRES_DB=tender_crm
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@tender-crm.local
PGADMIN_DEFAULT_PASSWORD=CHANGE_ME_TO_SECURE_PASSWORD
PGADMIN_PORT=5050